body{  
  font-family: 'Jost', 'NanumSquareNeo';
  font-size: .80rem;
}

body a:link,
body a:visited,
body a:hover,
body a:active {
  text-decoration: none;
  color: inherit;
}

p{
  margin: 0;
}

.Nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.Menu{  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  gap: 0 15px;
  padding: 0 10px;
  margin: 0;
}

.Menu li{
  list-style: none;
  /* width: 70px; */
  /* text-align: center; */
}

.LoginInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.LoginInfo div{
  white-space: nowrap;
}

