html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'NanumSquareNeo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right); */
}

@media (min-width:768px) {
  #root {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
  }

}

@tailwind base;
@tailwind components;
@tailwind utilities;